<!doctype html>
<html lang="en" ng:app="zonadarede">
<head>
    <meta charset="utf-8" />
    <title>Zona de rede</title>

    <script src="/modules/angular.min.js"></script>
    <script src="/modules/cookies.min.js"></script>
    <script src="/modules/route.min.js"></script>
    <script src="/modules/resource.min.js"></script>
    <script src="/modules/facebook.min.js"></script>
    <script src="/resources.js"></script>

    <script src="/controllers/user.js"></script>
    <script src="/index.js"></script>
</head>
<body>
    <div ng:view></div>
</body>
</html>
